.avaliations {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.avaliationItem {
  background: #fff;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px #44444410;
  margin-bottom: 10px;
}