.content {
  padding: 30px 30px 70px;
  height: 100%;
}

.title {
  margin: 0 0 20px;
  color: #765088;
  font-size: 25px;
  font-weight: 600;
}

.subtitle {
  margin: 0 0 20px;
  color: #444;
  font-size: 20px;
  font-weight: 600;
}