.menu {
  position: fixed;
  z-index: 123;
  background: #f9f9f9;
  width: 100%;
  left: 0;
  bottom: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  box-shadow: -2px 4px 7px #00000060;
}

.menuItem {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
  color: #444444;
  text-decoration: none;
}

.menuItemIcon {
  font-size: 25px;
}