html, body, #root {
  min-height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background: url('./images/background-login.jpg') center;
  background-size: cover;
  background-attachment: fixed;
}

* {
  box-sizing: border-box;
}